{% extends "layout.html" %}

{% block content %}

<div id="search-warning" class="alert alert-danger" hidden>
  <strong>Invalid search parameter</strong>
</div>

<h2>Shopping List</h2>
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Store</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Subtotal</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="shopping-body">
      {% for row in items %}
        <tr>
          <td id="row-store">{{row[0]}}</td>
          <td id="row-name" data-upc={{row[5]}}>{{row[1]}}</td>
          <td class="col-xs-1"><input type="number" class="row-quantity form-control text-center" value={{row[2]}} min="0"></td>
          {% if row[0] == 'Walmart' and row[3] != None %}
          <td>$<span class="row-price">{{ '%0.2f' % row[3] }}</span></td>
          <td>$<span class="row-subtotal">{{ '%0.2f' % (row[2] * row[3]) }}</span></td>
          {% elif row[4] != None %}
          <td>$<span class="row-price">{{ row[4]|round(2) }}</span></td>
          <td>$<span class="row-subtotal">{{ '%0.2f' % (row[2] * row[4]) }}</span></td>
          {% else %}
          <td>Unkown</td>
          <td>$0.00</td>
          {% endif %}
          <td>
            <button id="shop-list-refresh"><i class="glyphicon glyphicon-refresh text-success"></i></button>
            <button id="shop-list-remove"`><i class="glyphicon glyphicon-trash text-danger"></i></button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <button id="fill-shopping">Fill with Wishlist (<i><b>Beta</b></i>)</button>
  <button id='shopping-clear'>Clear</button>
  {% if total > budget %}
    <h2>Total: <span class="text-danger">$<span id="shopping-total" data-budget={{budget}}>{{ '%0.2f' % total }}</span></span></h2>
  {% elif total < (budget - 50) %}
    <h2>Total: <span class="text-success">$<span id="shopping-total" data-budget={{budget}}>{{ '%0.2f' % total }}</span></span></h2>
  {% else %}
    <h2>Total: <span class="text-warning">$<span id="shopping-total" data-budget={{budget}}>{{ '%0.2f' % total }}</span></span></h2>
  {% endif %}
  <h2>Number of Products: <span id='shopping-count'>{{count}}</h2>
</div>

<div id="fill-wishlist-dialog" class="modal in" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Fill from Wish List</h4>
        </div>
        <div class="modal-body">
          <h2>What do you want to prioritize?</h2>
          <div class="dropdown btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span id="resident_selection">Select Name</span> <span class="caret"></span></button>
            <ul class="dropdown-menu" id="dropdown_select" name="dropdown_select" role="menu">
              <li><a href="#">Select Priority</a></li>
              <li><a href="#">Quantity</a></li>
              <li><a href="#">Votes</a></li>
					  </ul>
          </div>
          <br>
          <span id="fill-wish-budget-error" class="text-danger" style="display:none">Not enough money left in budget</span>
          <br>
          <div class="row col-12-xs text-center">
            <button id="fill-wish-confirm" class="btn btn-success btn-md"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
            <button id="list-cancel" data-type="fill-wish" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

{% endblock %}
