{% extends "layout.html" %}

{% block content %}
<h2>Shopping List</h2>
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Store</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for row in items %}
        <tr>
          <td>{{row[0]}}</td>
          <td>{{row[1]}}</td>
          <td>{{row[2]}}</td>
          <td>${{row[3]}}</td>
          <td><button><span class="glyphicon glyphicon-trash text-danger"></span></button></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
  <h2>Running Total: <span class="text-success">${{total}}</span></h2>
</div>
{% endblock %}
