{% extends "layout.html" %}

{% block content %}
<h2>Wish List</h2>
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Name</th>
        <th>Price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for row in items %}
        <tr>
          <td>
            <button id="wish-list-votedown"><span class="glyphicon glyphicon-thumbs-down text-danger"></span></button>
            {{row[0]}}
            <button id="wish-list-voteup"><span class="glyphicon glyphicon-thumbs-up text-success"></span></button>
          </td>
          <td>{{row[1]}}</td>
          <td>$19.95</td>
          <td>
            <button id="wish-list-refresh"><i class="glyphicon glyphicon-refresh text-success"></i></button>
            <button id="wish-list-check"><i class="glyphicon glyphicon-user text-info"></i></button>
            <button id="wish-list-remove"`><i class="glyphicon glyphicon-trash text-danger"></i></button>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
