{% extends "layout.html" %}

{% block content %}
<h2>Wish List</h2>
<div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Votes</th>
        <th>Name</th>
        <th>Walmart</th>
        <th>Costco</th>
        {% if flag %}
        <th>Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for row in items %}
        <tr data-upc={{row[0]}}>
          <td>
            <button class="wish-list-votedown"><span class="glyphicon glyphicon-thumbs-down text-danger"></span></button>
            <span class="row-votes">{{row[5]}}</span>
            <button class="wish-list-voteup"><span class="glyphicon glyphicon-thumbs-up text-success"></span></button>
          </td>
          <td>{{row[2]}}</td>
          <td class="walmart">{{row[3]}}</td>
          <td class="costco">{{row[4]}}</td>
          {% if flag %}
          <td>
            <button class="wish-list-add"><i class="glyphicon glyphicon-plus text-success"></i></button>
            <button class="wish-list-remove"`><i class="glyphicon glyphicon-trash text-danger"></i></button>
          </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>

  <div id="wish-list-vote-dialog" data-active-upc="" data-type="up" data-upc="0" class="modal in" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="vote-title" class="modal-title">Vote</h4>
        </div>
        <div class="modal-body">
          <h2>Who are you?</h2>
          <div id="resident-list" class="dropdown btn-group">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"><span id="resident_selection">Select Name</span> <span class="caret"></span></button>
            <ul class="dropdown-menu" id="dropdown_select" name="dropdown_select" role="menu">
              <li><a href="#">Select Name</a></li>
              {% for name in names %}
                <li><a href="#">{{name}}</a></li>
              {% endfor %}
					  </ul>
          </div>
          <br>
          <span id="vote-error" class="text-danger" style="display:none">Resident Name not selected</span>
          <span id="vote-error-update" class="text-danger" style="display:none">Resident already voted for this item.</span>
          <br>
          <div class="row col-12-xs text-center">
            <button id="wish-list-vote-confirm" class="btn btn-success btn-md"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
            <button id="wish-list-vote-cancel" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div id="wish-list-manage-dialog" class="modal in" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Manage</h4>
        </div>
        <div class="modal-body">
          <ul class="dropdown-menu" id="dropdown_select" name="dropdown_select" role="menu">
            {% for name in names %}
            <li><a href="#">{{name}}</a></li>
            {% endfor %}
					</ul>
          <div class="row col-12-xs text-center">
            <button id="shop-list-add" class="btn btn-success btn-md"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
            <button id="shop-list-cancel" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="add-list-dialog" data-type="shopping" class="modal in" style="display: none;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 id="add-list-dialog-title" class="modal-title">Add to Shopping List</h4>
        </div>
        <div class="modal-body">
          
          <table id="cart" class="table table-hover table-condensed">
            <thead>
              <tr>
                <th style="width:50%">Store</th>
                <th style="width:10%">Price</th>
                <th style="width:8%">Quantity</th>
                <th style="width:22%" class="text-center">Subtotal</th>
                <th style="width:10%"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td data-th="Product">Walmart</td>
                <td id="wish-add-walmart-price" class="row-price" data-th="Price"></td>
                <td data-th="Quantity">
                  <input id="walmartQuantity" class="row-quantity" type="number" class="form-control text-center" value="0" min="0">
                </td>
                <td class="row-subtotal" data-th="Subtotal" class="text-center">0.00</td>
                <td class="actions" data-th="">
                  <button id="shop-list-refresh" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                </td>
              </tr>
              <tr>
                <td data-th="Product">Costco</td>
                <td id="wish-add-costco-price" class="row-price" data-th="Price"></td>
                <td data-th="Quantity">
                  <input id="costcoQuantity" class="row-quantity" type="number" class="form-control text-center" value="0" min="0">
                </td>
                <td class="row-subtotal" data-th="Subtotal" class="text-center">0.00</td>
                <td class="actions" data-th="">
                  <button id="shop-list-refresh" class="btn btn-info btn-sm"><i class="glyphicon glyphicon-refresh"></i></button>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="3"></td>
                <td>Total</td>
                <td id="shopping-total">0.00</td>
              </tr>
            </tfoot>
          </table>
          <div class="row col-12-xs text-center">
            <button id="list-add" class="btn btn-success btn-md"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></button>
            <button id="list-cancel" data-type="shopping" class="btn btn-danger btn-md"><i class="glyphicon glyphicon-remove" aria-hidden="true"></i></button>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->



{% endblock %}
